[submodule "3rdparty/mscoutermarsh-dotfiles"]
	path = 3rdparty/mscoutermarsh-dotfiles
	url = https://github.com/mscoutermarsh/dotfiles.git
[submodule "3rdparty/thoughtbot-dotfiles"]
	path = 3rdparty/thoughtbot-dotfiles
	url = https://github.com/thoughtbot/dotfiles.git
[submodule "3rdparty/chase-seibert-dotfiles"]
	path = 3rdparty/chase-seibert-dotfiles
	url = http://github.com/chase-seibert/dotfiles.git
